<div id="centerDiv">
  <div id="header">
        <img id="hamburger" src="https://cdn2.iconfinder.com/data/icons/clean-minimal-set/16/open-menu-01-512.png" (click)="menu()"/>
        <div id="logo">Keret</div>
    </div>
    <div id="bodyDiv">
      <div id="menu" [ngClass]="classTest" >
        <div id="menuList">
            <div *ngFor="let item of menuItems" class="menuNav" (click)="menu()" routerLink='{{item.link}}'>{{item.title}}</div>
        </div>
       </div>
       <div id="content">
          <div id="spacerDiv"></div>
          <router-outlet></router-outlet>
       </div>
    </div>
</div>




